<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <display-name>WebServer</display-name>
    <servlet-name>WebServer</servlet-name>
    <servlet-class>WebServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebServer</servlet-name>
    <url-pattern>/servlet/WebServer</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>websearch.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
</web-app>